[Unit]
Description=Tiajians's distributed currency daemon
After=network.target

[Service]
User=tiajians
Group=tiajians

Type=forking
PIDFile=/var/lib/tiajiansd/tiajiansd.pid
ExecStart=/usr/bin/tiajiansd -daemon -pid=/var/lib/tiajiansd/tiajiansd.pid \
-conf=/etc/tiajians/tiajians.conf -datadir=/var/lib/tiajiansd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
